{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

<!-- remember to install pip install django-widget-tweaks first 
   before adding it to the apps and using it in templates -->

{% block title %}Add Blog{% endblock title %}

{% block style %}
<style>
 .card{
    align-items: center;
    border: none;
    padding: 2px;
    font-family: 'Times New Roman', Times, serif;
    border: 2px solid #173b6c;
    border-radius: 3px;
    width: 350px;
    height: auto;
 }
 .row{
    margin-left: 30%;
 }
 #add-blog-btn{
    color: white;
    background-color: #173b6c;
    border-color: #173b6c;
    border-radius: 5px;
 }
 #add-blog-btn:hover{
    color: white;
    background-color:#149ddd;
    border-color: #149ddd;
    border-radius: 5px;
 }
</style>
{% endblock style %}

{% block body %}

<!-- ======= Services Section ======= -->
<section id="services" class="services">
    <div class="container">

      <div class="section-title">
        <h2>Add Your Blogs</h2>
        <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
      </div>

      <div class="row">
        
        <div class="card form-control-sm p-1">
            <form action="{% url 'addBlog' %}" method="post" enctype="multipart/form-data"> {% csrf_token %}
                <!-- {{form.as_p}} -->
                <div>
                     <label for="title">Title:</label>
                     {% render_field form.title placeholder="title" class+="form-control-sm mb-1" %}
                </div>
                <div>
                     <label for="title">Description:</label>
                     <p>
                        {% render_field form.description placeholder="tell us about the post" rows=5 cols=30 class+="form-control-sm mb-1"%}
                     </p>
                </div>
                <div class="form-authname">
                     <label for="title">Author's name:</label>
                     {% render_field form.authname placeholder="author" class+="form-control-sm m-1"%}
                </div>
                <div class="form-image">
                     <label for="title">Image:</label>
                     {% render_field form.img class+="m-2"%}
                </div>
                <div class="d-grid gap-2 col-6 mx-auto mb-2">
                    <button type="submit" class="btn btn-secondary">Submit</button>
                </div>
            </form>

        
    </div>

    </div>

    </div>
  </section><!-- End Services Section -->

{% endblock body %}